.huntDiv {
  margin: 30px;
  border: 3px solid black;
  background-color: #faf6e9;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #00dbde 95%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #fc00ff 95%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #6284ff 90%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #00dbde 92%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #fc00ff 85%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #6284ff 89%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #00dbde 80%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #fc00ff 86%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 75%, #6284ff 75%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 83%, #00dbde 83%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 70%, #fc00ff 70%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 80%, #6284ff 80%);
}

.createDiv {
  margin: 30px;
  border: 3px solid black;
  background-color: #faf6e9;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #6284ff 95%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #00dbde 95%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #fc00ff 90%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #6284ff 92%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #00dbde 85%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #fc00ff 89%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #6284ff 80%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #00dbde 86%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 75%, #fc00ff 75%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 83%, #6284ff 83%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 70%, #00dbde 70%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 80%, #fc00ff 80%);
}

.sucess-message {
  color: green;
}

.spaceOut {
  margin-left: 30px !important;
}

.error-message {
  color: red;
}

.spaceBtn {
  margin-left: 10px !important;
}

.spaceTop {
  margin-top: 25px;
}
