.interviewDiv{
    margin: 30px;
    border: 3px solid black;
    background-color: #FEF5ED;
    border-radius: 30px;
    /* max-width: 90%; */
    padding: 20px;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #6284FF 95%),
    linear-gradient( 85deg, rgba(0,0,0,0) 95%,  #00DBDE 95%),
    linear-gradient(175deg, rgba(0,0,0,0) 90%, #FC00FF 90%),
    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #6284FF 92%),
    linear-gradient(175deg, rgba(0,0,0,0) 85%, #00DBDE 85%),
    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #FC00FF 89%),
    linear-gradient(175deg, rgba(0,0,0,0) 80%, #6284FF 80%),
    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #00DBDE 86%),
    linear-gradient(175deg, rgba(0,0,0,0) 75%,  #FC00FF  75%),
    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #6284FF 83%),
    linear-gradient(175deg, rgba(0,0,0,0) 70%, #00DBDE 70%),
    linear-gradient( 85deg, rgba(0,0,0,0) 80%,  #FC00FF 80%);
}

.interDiv{
    padding: 30px;
    /* margin: 5px; */
    border: 6px dashed #C3F8FF;
    background-color: #FEF5ED;

    background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #00DBDE 95%),
        linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #FC00FF 95%),
        linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #6284FF 90%),
        linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #00DBDE 92%),
        linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #FC00FF 85%),
        linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #6284FF 89%),
        linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #00DBDE 80%),
        linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #FC00FF 86%),
        linear-gradient(175deg, rgba(0, 0, 0, 0) 75%, #6284FF 75%),
        linear-gradient(85deg, rgba(0, 0, 0, 0) 83%, #00DBDE 83%),
        linear-gradient(175deg, rgba(0, 0, 0, 0) 70%, #FC00FF 70%),
        linear-gradient(85deg, rgba(0, 0, 0, 0) 80%, #6284FF 80%);
    border-radius: 20px;
    min-height: 200px;
}

.error-message{
    color: red
}

.sucess-message{
    color: green
}

.spaceOut{
    margin-top: 30px !important;
}

.intervContainer{
        /* min-height: 100vh; */
        padding: 20px;

        margin: 20px;
}

.moveRight{
    text-align: right;
}
