.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(251deg, #FFFFFF 0%, #62ffe7 50%, #FF0000 100%);
}

a {
  text-decoration: none;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(90deg, #FFFFFF 0%, #62ffe7 50%, #FF0000 100%);
  color: white;
  text-align: center;
  height: 35px;
  border-top: 3px solid black;
}


.nav-color{
  background-image: linear-gradient(98deg, #FFFFFF 0%, #62ffe7 50%, #FF0000 100%);
  border-bottom: 3px solid black;

}

